body {
  font-family: "Delius", sans-serif;
  background-color: #2e7eff;

  user-select: none; /* Ngăn chọn văn bản */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

ul {
  list-style-type: none;
}

.sidebar {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100vh;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.sticky-title {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #2e7eff;
  color: #f8ff1e;
  font-weight: bold;
  padding: 10px;
}

.icon:hover {
  color: #fff;
}

.fa-solid {
  font-size: 20px;
}

.fa-bars {
  color: #f8ff1e;
}

#lyrics-container {
  max-height: 600px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#lyrics-container::-webkit-scrollbar {
  display: none;
}

#lyrics-container p {
  margin-bottom: 3px;
}

#lyrics-container p.active {
  color: yellow;
  font-weight: bold;
}

.logo {
  width: 80px;
}
